#naversigninbackgroundoff {
  width: 100%;
  height: 100%;
  background-color: lightgray;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  display: none;
}

#naversigninbackgroundon {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
}

.naversigninModal {
  width: 250px;
  position: fixed; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 30px gray;
  flex-direction: column;
  justify-content: space-between;
}

.naversigninhide {
  display: none;
}

.naversigninshow {
  display: flex;
}