.forAccinfoAlign {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AccInfoTotalWrapper {
  width: 70%;
  margin: 30px 0;
  border: 1px solid #dddddd;
  padding: 20px 30px;
}

.ForImgBackground {
  width: 200px;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease; /* 전환 효과 (선택 사항) */
}

.ForImgBackground.hidden {
  display: none; /* 선택된 이미지가 없을 때 미리보기 박스 숨기기 */
}

/* 헤더 */

.Accinfo-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.accinfo-bold {
  font-size: 27px;
  font-weight: bold;
}

.accinfo-hint {
  color: #666666;
  font-size: 15px;
}

/* 점포운영 */

.accinfo-bigtext {
  font-weight: 600;
  font-size: 18px;
}

.accinfo-hintText {
  color: #555555;
}

.Wrppaerforplaintext {
  margin: 9px 0;
}

.accinfo-file-wrapper {
  width: 40%;
}

/* .ForImgBackground {
  border: 1px solid #dddddd;
} */

.Wrppaerforinput {
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.accinfo-plain-textarea {
  width: 100%;
  height: 50px;
  border: 1px solid #dddddd;
}

.addressWrapperinner {
  display: flex;
}

.keyWrapperUpper {
  display: flex;
  align-items: end;
  justify-content: flex-start;
}
.checkBoxWrapper {
  margin-right: 20px;
}

.checkboxes label{
  margin-right: 8px;
}

.holidayrun {
  margin-right: 20px;
}

.breaktime label {
  margin-right: 8px;
}

.holidayrun label {
  margin-right: 8px;
}
.rest-date-first {
  display: flex;
  margin: 10px 0;
}
.temp-holiday-firstrow {
  display: flex;
  align-items: end;
  margin: 10px 0;
}

.temp-holiday-firstrow div {
  margin-right: 10px;
}


.rest-date-last div {
  margin-right: 10px;
}

.rest-date-last {
  display: flex;
  margin: 10px 0;
}

.enrollbutton {
  height: 37px;
  padding: 0 15px;
  background-color: #ff8a00;
  color: white;
  border: none;
}


.addressdetailWrapper {
  display: flex;
}

.select-box-keyword {
  width: 30%;
}

.Wrppaerforinput > input {
  border: 1px solid #dddddd;
  height: 33px;
  border-radius: 7px;
}

.revSetting-first {
  display: flex;
}

.peakWrapper-first {
  display: flex;
  justify-content: center;
  align-items: center;
}