/* main.css */

.mainWrapper {
  display: flex;
  flex-direction: row;
}

.contentsWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: margin-left 0.3s ease-in-out;
}

.contentsWrapper.collapsed {
  margin-left: 80px;
}

.mainSidebar {
  width: 200px;
  transition: width 0.3s ease-in-out;
}

.mainSidebar.collapsed {
  width: 80px;
}

.carouselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
