/* Carousel.css */

.backgroundImage {
  width: 800px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 50px;
}

.carouselWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselname {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.carouseladdress {
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
}

.carouselcontents {
  background-color: #ffffff80;
  width: 200px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 520px;
  top: 230px;
  padding: 0 30px;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 1000px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carouselSlide {
  display: none;
  transition: transform 0.5s ease-in-out;
}

.carouselSlide.active {
  display: block;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.carouselButton {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.carouselIndicators {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.indicator.active {
  background-color: #717171;
}

/* Main.css */

.mainWrapper {
  display: flex;
  flex-direction: row;
}

.contentsWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: margin-left 0.3s ease-in-out;
}

.contentsWrapper.collapsed {
  margin-left: 80px;
}

.mainSidebar {
  width: 200px;
  transition: width 0.3s ease-in-out;
}

.mainSidebar.collapsed {
  width: 80px;
}

.carouselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
