.restaurants{
  display: flex;
  flex-direction: column;
  margin: 30px 10%;
}

.rest-list-container{
  display: flex;
  justify-content: center;
}

.rest-list-box{
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #e0e0e0;
  padding: 3px;
  padding-top: 30px;
}

.rest-list-card-box{
  display: flex;
  justify-content: center;
}

.rest-card-li {
  display: flex;
  justify-content: center;
  width: 32%;
  list-style:none;
  margin: 7px;
}

@media (max-width: 768px) {
  .rest-card-li {
    width: 100%; 
  }
}