body{
    -ms-overflow-style: none;
    }
    
   ::-webkit-scrollbar {
     display: none;
   }
   
   /*특정 부분 스크롤바 없애기*/
   
   .hidden-scroll{
      -ms-overflow-style: none;
   }
   .hidden-scroll::-webkit-scrollbar{
     display:none;
   }


